<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Missing Redirects Project{% endblock %}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav li {
            display: inline-block;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: white;
        }

        main {
            padding: 20px;
        }
    </style>
</head>
<body>

    <header>
        <h1>{% block header %}Missing Redirects Project{% endblock %}</h1>
        {% if authenticate %}
            <nav>
                <ul>
                    <li><a href="{{ url_for('logout') }}">logout</a></li>
                </ul>
            </nav>
        {% else %}
            {% if show_login %}
                <nav>
                    <ul>
                        <li><a href="{{ url_for('login') }}">login</a></li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
