{% extends 'base.html' %}

{% block content %}
<div id="redirect-container"></div>

<div id="redirect-controls">
    <button onclick="saveRedirect()">Save</button>
    <button onclick="dismissRedirect()">Dismiss</button>
    <button onclick="loadNextRedirect()">Skip</button>
    <input disabled type="text" id="editSummary" placeholder="Edit summary" oninput="autoExpand(this)"
        onchange="autoExpand(this)">
    <div class="rcat-multiselect">
        <div class="rcat-selected-items" id="rcat-selectedItems" style="display: none">
            <!-- Selected items will be displayed here -->
        </div>
        <div class="rcat-input-container">
            <input type="text" id="rcat-input" placeholder="Select redirect categories">
            <div class="rcat-dropdown-content" id="rcatDropdown">
                <!-- RCats will be displayed here -->
            </div>
        </div>
    </div>
    <a id="searchResultsLink" target="_blank" style="display: block">Search results</a>
    <div id="searchResultsDropdown" class="dropdown">
        <!-- Loading indicator -->
        <div id="loadingContainer" class="loading-container">
            <div id="loadingIndicator" class="loading-indicator"></div>
            Loading...
        </div>

        <!-- Search results options will be added here -->
        <div id="resultsContainer" class="results-container"></div>

        <!-- Error message -->
        <div id="errorContainer" class="error-container" style="display: none;">
            Error loading results.
        </div>
    </div>
</div>

<style>
    .rcat-multiselect {
        position: relative;
        display: inline-block;
    }

    .rcat-input-container {
        position: relative;
        display: inline-block;
    }

    #rcat-input {
        padding: 5px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }

    .rcat-dropdown-content {
        display: none;
        position: absolute;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        max-height: 200px;
        overflow-y: auto;
        z-index: 2;
        /* Display over search dropdown */
    }

    .rcat-dropdown-item {
        padding: 8px;
        cursor: pointer;
    }

    .rcat-dropdown-item:hover {
        background-color: #f5f5f5;
    }

    .rcat-selected-items {
        flex-wrap: wrap;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 5px;
    }

    .rcat-selected-item {
        margin: 5px;
        padding: 5px;
        background-color: #e0e0e0;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }

    #searchResultsDropdown {
        position: absolute;
        width: 100%;
        overflow-y: auto;
        border: 1px solid #ccc;
        background-color: #fff;
        z-index: 1;
    }

    .search-result-option {
        padding: 8px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
    }

    .search-result-option:hover {
        background-color: #f5f5f5;
    }
</style>
<script src="{{ url_for('static', filename='js/fuse.min.js') }}"></script> <!-- Fuse.js -->
<script>
    function autoExpand(element) {
        element.style.width = 'auto';  // Reset the width to auto
        element.style.width = (element.scrollWidth + 2) + 'px';  // Set the width to the scrollWidth + padding
    }

    let currentRedirect = 0;
    const redirects = {{ redirects| tojson }};
    var currentRedirectElement;
    var currentRedirectLabel;
    var nonMissingTitles;
    var batchTitlesToCheck;

    var checkIfExistsOnPage = redirects[0];
    function loadNextRedirect() {
        // Check if there are more redirects to display
        if (currentRedirect < redirects.length) {
            if (currentRedirectElement) currentRedirectElement.remove();
            const rcatInput = document.getElementById('rcat-input');
            const rcatSelectedItems = document.getElementById('rcat-selectedItems');
            rcatInput.value = '';
            rcatSelectedItems.innerHTML = '';
            rcatSelectedItems.style.display = 'none';


            const redirect = redirects[currentRedirect];
            currentRedirectLabel = redirect.label
            //console.log(`Checking if ${currentRedirectLabel} exists in ${JSON.stringify(nonMissingTitles)}`);
            if (nonMissingTitles && nonMissingTitles.includes(currentRedirectLabel)) {
                let label = currentRedirectLabel;
                //console.log('It is.');
                currentRedirect++;
                loadNextRedirect();
                removeRedirect(label)
                return;
            }

            if (redirect === checkIfExistsOnPage) {
                batchTitlesToCheck = redirects.slice(currentRedirect, currentRedirect + 50).map(redirect => redirect.label)
                checkIfRedirectsExist(batchTitlesToCheck) // check if redirect exists for next batch
                checkIfExistsOnPage = redirects[currentRedirect + 50];
            }

            const redirectElement = document.createElement('div');
            currentRedirectElement = redirectElement;
            redirectElement.className = 'redirect';
            redirectElement.innerHTML = `<p><code>${redirect.label}</code> &rarr; <code id="target" contenteditable="plaintext-only" style="border: solid 1px black; padding-inline: 1px;">${redirect.target}</code><a target="_blank" href="https://en.wikipedia.org/wiki/${encodeURIComponent(redirect.target)}" style="margin-left:15px; font-size:85%">${redirect.target} on Wikipedia</a></p>`;
            document.getElementById('redirect-container').appendChild(redirectElement);
            document.getElementById('editSummary').value = `Redirected to [[${redirect.target}]]`;
            autoExpand(document.getElementById('editSummary'));
            queryWikipedia(redirect.label);
            currentRedirect++;
        } else {
            // If no more redirects, display a message or redirect to another page
            alert('No more redirects in this batch, reloading.');
            location.reload();
        }
    }

        // Function to make a JSONP request to bypass cors
    function jsonp(url) {
        const callbackName = `jsonpCallback_${Date.now()}_${Math.floor(Math.random() * 1000)}`;
        return new Promise((resolve, reject) => {
            const script = document.createElement('script');
            script.src = `${url}&callback=${callbackName}`;

            // Set up a callback function that resolves or rejects the promise
            window[callbackName] = (data) => {
                delete window[callbackName];
                document.body.removeChild(script);
                resolve(data);
            };

            script.onerror = (error) => {
                delete window[callbackName];
                document.body.removeChild(script);
                reject(error);
            };

            document.body.appendChild(script);
        });
    }


    function checkIfRedirectsExist(labels) {
        const titles = encodeURIComponent(labels.join('|'));
        //console.log(`Querying for ${JSON.stringify(labels)}`);
        const url = `https://en.wikipedia.org/w/api.php?action=query&format=json&titles=${titles}`
        jsonp(url).then((data) => {
            fakeNonMissingTitles = Object.values(data.query.pages).filter(page => !page.hasOwnProperty('missing')).map(page => page.title); // fake because the special characters are stripped
            nonMissingTitles = [];
            for (const nonMissingTitle of fakeNonMissingTitles) {
                // Do some fuzzy matching to 
                const fuse = new Fuse(batchTitlesToCheck);
                const result = fuse.search(nonMissingTitle)[0].item;
                nonMissingTitles.push(result);
            }
            if (nonMissingTitles.includes(currentRedirectLabel)) loadNextRedirect(); // skip, already exists
        })
        .catch((error) => {
            console.error('Error fetching JSONP data:', error);
        });
    }

    function queryWikipedia(title) {
        const loadingContainer = document.getElementById('loadingContainer');
        const loadingIndicator = document.getElementById('loadingIndicator');
        const resultsContainer = document.getElementById('resultsContainer');
        const errorContainer = document.getElementById('errorContainer');
        const searchResultsLink = document.getElementById('searchResultsLink');

        // Show loading indicator and hide error message
        loadingContainer.style.display = 'flex';
        errorContainer.style.display = 'none';

        // Clear previous results
        resultsContainer.innerHTML = '';

        searchResultsLink.href = `https://en.wikipedia.org/w/index.php?search=${encodeURIComponent(title)}&title=Special:Search&profile=default&fulltext=1`
        const url = `https://en.wikipedia.org/w/api.php?action=query&format=json&list=search&srsearch=${encodeURIComponent(title)}&srlimit=5`
        jsonp(url).then((data) => {
            resultsContainer.innerHTML = ''; // Clear previous search results

            loadingContainer.style.display = 'none';

            // Process and display the search results
            data.query.search.forEach(item => {
                const resultContainer = document.createElement('div');
                resultContainer.className = 'search-result-option';

                // Create a span for the title and bold the search matches
                const titleSpan = document.createElement('span');
                titleSpan.innerHTML = item.title.replace(/<span class="searchmatch">([^<]+)<\/span>/g, '<b>$1</b>');
                resultContainer.appendChild(titleSpan);

                // Add a line break
                resultContainer.appendChild(document.createElement('br'));

                // Create a span for the snippet and bold the search matches
                const snippetSpan = document.createElement('span');
                snippetSpan.style.fontSize = '85%';
                snippetSpan.innerHTML = item.snippet.replace(/<span class="searchmatch">([^<]+)<\/span>/g, '<b>$1</b>');
                resultContainer.appendChild(snippetSpan);

                // Add a link to the Wikipedia article
                const link = document.createElement('a');
                link.href = `https://en.wikipedia.org/wiki/${encodeURIComponent(item.title)}`;
                link.target = '_blank'; // Open in a new tab
                link.textContent = 'View on Wikipedia';
                link.style.marginLeft = '5px';

                // Add an event listener to the link to prevent it from triggering the selection event
                link.addEventListener('click', (event) => {
                    event.stopPropagation();
                });

                resultContainer.appendChild(link);

                // Add an event listener to handle the selection
                resultContainer.addEventListener('click', () => {
                    // Set the selected option as the new target
                    document.getElementById('target').innerText = item.title;

                    // Clear the search results dropdown
                    resultsContainer.innerHTML = '';

                    // Set the edit summary
                    const editSummaryElement = document.getElementById('editSummary');
                    editSummaryElement.value = `Redirected to [[${item.title}]]`;
                    autoExpand(editSummaryElement);
                });

                resultsContainer.appendChild(resultContainer);
            });
        })
        .catch((error) => {
            console.error('Error fetching search data:', error);
        });

    }




    function saveRedirect() {
        // Implement logic to save the redirect with the new target
        const newTarget = document.getElementById('target').innerText;
        const editSummary = document.getElementById('editSummary').value + ' ([[Wikipedia:Missing redirects project|Missing Redirects Project]])';
        const pageTitle = redirects[currentRedirect - 1].label;
        var pageText = `#REDIRECT [[${newTarget}]]`

        // add rcats (brackets are broken up to avoid being detected as Jinja syntax)
        if (document.getElementById('rcat-selectedItems').childElementCount !== 0) {
            pageText += '\n\n{' + '{Redirect category shell|'
            let appliedRcats = document.getElementById('rcat-selectedItems').children
            for (let rcat of appliedRcats) {
                pageText += '\n{' + `{${rcat.innerText}` + '}' + '}';
            }
            pageText += '\n}' + '}';
        }


        loadNextRedirect();
        fetch('/create_page', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'page_title': pageTitle,
                'page_text': pageText,
                'edit_summary': editSummary
            }),
        })
            .then(response => response.json())
            .then(result => {
                console.log(result);
            })
            .catch(error => {
                // Handle errors appropriately
                console.error('Error:', error);
            });
    }
    function dismissRedirect() {
        const label = redirects[currentRedirect - 1].label;
        loadNextRedirect()
        fetch('/dismiss_suggestion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ label: label, type: 'redirect' }),
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response (success or error)
                //alert(data.status);
            })
            .catch(error => {
                console.error('Error dismissing redirect:', error);
            });
    }

    function removeRedirect(label) {
        //console.log(`Removing ${label}`);
        fetch('/remove_suggestion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ label: label, type: 'redirect' }),
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response (success or error)
                console.log(data);
            })
            .catch(error => {
                console.error('Error dismissing redirect:', error);
            });
    }


    function fetchCategoryTitles(categoryTitle) {
        const url = `https://en.wikipedia.org/w/api.php?action=query&format=json&list=categorymembers&cmtitle=${encodeURIComponent(categoryTitle)}&cmlimit=500&cmnamespace=10`;
        return jsonp(url);
    }
    
    async function fetchRcatsAndInit() {
        const mainRcatCategory = 'Category:Redirect templates';
        const redirectRcatCategory = 'Category:Template redirects with possibilities';

        try {
            // Fetch titles from both categories concurrently
            const [mainRcatCategoryData, redirectRcatCategoryData] = await Promise.all([
            fetchCategoryTitles(mainRcatCategory),
            fetchCategoryTitles(redirectRcatCategory),
            ]);

            // Handle the union of titles from both categories
            var allRcats = [
            ...mainRcatCategoryData.query.categorymembers.map((member) => member.title),
            ...redirectRcatCategoryData.query.categorymembers.map((member) => member.title).filter(member => /R /.exec(member)),
            ];
            allRcats = [... new Set(allRcats)] // filter duplicates i.e. R with possibilities
            allRcats = allRcats.map(title => title.replace(/^Template:/, ''))
            const excludedRcats = ['R rcat example', 'R template index', 'R test purposes only', 'Redirect category shell', 'Redirect template', 'This is a redirect/rcat', 'User WP Redirect', 'No redirect', 'Template link no redirect', 'Rcat doc', 'R category with possibilities', 'Soft redirect with Wikidata item', 'R with possibilities/testcases']
            const frequentRcats = ['R from alternative name', 'R from long name', 'R from short name', 'R from related word', 'R to related topic']
            
            allRcats = allRcats.filter(rcat => !excludedRcats.includes(rcat));


            // Move frequent rcats to the top
            allRcats.sort((a, b) => {
                if ((frequentRcats.includes(a) && !frequentRcats.includes(b)) || frequentRcats.includes(a) && frequentRcats.includes(b) && frequentRcats.indexOf(a) < frequentRcats.indexOf(b)) {
                    return -1;
                } else if ((!frequentRcats.includes(a) && frequentRcats.includes(b)) || frequentRcats.includes(a) && frequentRcats.includes(b) && frequentRcats.indexOf(a) > frequentRcats.indexOf(b)) {
                    return 1;
                } else {
                    return 0;
                }
            });

            const rcatInput = document.getElementById('rcat-input');
            const rcatDropdown = document.getElementById('rcatDropdown');
            const rcatSelectedItems = document.getElementById('rcat-selectedItems');

            // Toggle the dropdown visibility
            function toggleRcatDropdown() {
                rcatDropdown.style.display = (rcatDropdown.style.display === 'block') ? 'none' : 'block';
            }

            // Handle selecting an rcat from the dropdown
            function selectRcat(rcat) {
                document.getElementById(`rcat-${rcat}`).style.display = 'none'; // hide
                const rcatItem = document.createElement('div');
                rcatItem.className = 'rcat-selected-item';
                rcatItem.textContent = rcat;

                // Add an event listener to remove the RCat when clicked
                rcatItem.addEventListener('click', () => {
                    rcatSelectedItems.removeChild(rcatItem);
                    if (rcatSelectedItems.childElementCount === 0) rcatSelectedItems.style.display = 'none';
                    document.getElementById(`rcat-${rcat}`).style.display = ''; // unhide
                });

                rcatSelectedItems.appendChild(rcatItem);
                rcatSelectedItems.style.display = 'flex'; // ensure is visible
            }

            // Populate the Rcat dropdown with all Rcats
            allRcats.forEach(rcat => {
                const rcatItem = document.createElement('div');
                rcatItem.className = 'rcat-dropdown-item';
                rcatItem.id = `rcat-${rcat}`
                rcatItem.textContent = rcat;

                // Add an event listener to select the RCat when clicked
                rcatItem.addEventListener('click', () => {
                    selectRcat(rcat);
                    toggleRcatDropdown();
                    rcatInput.value = '';
                });

                rcatDropdown.appendChild(rcatItem);
            });

            // Add event listeners to the input field to show/hide the dropdown
            rcatInput.addEventListener('click', toggleRcatDropdown);
            document.addEventListener('click', (event) => {
                if (!rcatInput.contains(event.target)) {
                    rcatDropdown.style.display = 'none';
                }
            });


            function filterRcats(filterText) {
                const rcatItems = document.querySelectorAll('.rcat-dropdown-item');
                rcatItems.forEach(rcatItem => {
                    const isVisible = rcatItem.textContent.toLowerCase().includes(filterText.toLowerCase());
                    rcatItem.style.display = isVisible ? 'block' : 'none';
                });
            }

            rcatInput.addEventListener('input', (event) => {
                const filterText = event.target.value;
                filterRcats(filterText);
            });

        } catch (error) {
            console.error('Error fetching or processing titles:', error);
        }
    }


    loadNextRedirect(); // Start with loading redirect
    document.getElementById('target').addEventListener('input', (event) => {
        const targetText = event.target.innerText;
        let editSummaryElement = document.getElementById('editSummary');
        editSummaryElement.value = `Redirected to [[${targetText}]]`;
        autoExpand(editSummaryElement);
    });
    fetchRcatsAndInit(); 
</script>
{% endblock %}