{% extends 'base.html' %}

{% block content %}

{% if username %}
<p>Welcome, {{ username }}!</p>
<p>Remember: any edits you make using this tool are <i>your</i> responsibility. You should ensure that there are no errors in the redirects created with this tool.</p>
<p><a href="{{ url_for('create_redirects') }}">Create redirects</a></p>
{% else %}
<p>Please login to continue.</p>
{% endif %}
<h2>Instructions</h2>
<ul>
    <li>The tool will show you a proposed redirect and target in the form <code>Redirect title</code> &rarr; <code style="border: solid 1px black; padding-inline: 1px;">Redirect target</code>.<br />
    The tool will also display five articles from search results as possible targets.</li>
    <li>If the suggested target is appropriate:
        <ul>
            <li>(Optional) Select all applicable <a target="_blank" href="https://en.wikipedia.org/wiki/Wikipedia:Categorizing_redirects" title="Wikipedia:Categorizing redirects">redirect categories</a> (rcats) from the dropdown menu.</li>
            <li>Save the redirect.</li>
        </ul>
    </li>
    <li>If one of the search results appears appropriate, click on it to select it as the target and then follow the instructions above.</li>
    <li>If none of the search results are appropriate, but there is an appropriate target, then manually type that into the target field and save it.</li>
    <li>If the title is bad and should not be made into a redirect (e.g. because it's too ambiguous) then dismiss it.</li>
    <li>If you are unsure you can skip the suggestion and leave it for someone else.</li>
</ul><!--
<ul>
    <li>Save: saves the redirect, adding any redirect categories you may have added.</li>
    <li>Dismiss: removes the redirect suggestion from the pool of suggestions.<br />Should be used if there should be no redirect at the title.<br />If the target is wrong, please instead correct the target and save the redirect.</li>
    <li>Skip: moves on to the next redirect. Use this if you're unsure or want to leave it to someone else.</li>
    <li>Dropdown: This displays the search results for the title, along with the snippet from the article.<br />Click on one of the options to change the target.</li>
    <li>Redirect to [[title]]: This is the edit summary. This should not normally need to be changed.</li>
    <li>Select redirect categories: this is for adding <a target="_blank" href="https://en.wikipedia.org/wiki/Wikipedia:Categorizing_redirects" title="Wikipedia:Categorizing redirects">redirect categories</a> (rcats) to the redirect.</li>
</ul>-->
<footer>Please report any issues to <a href="https://en.wikipedia.org/wiki/User_talk:Qwerfjkl" title="User talk:Qwerfjkl">my talk page</a>.</footer>
{% endblock %}
